In [8]:
import pandas as pd
df = pd.read_csv('./test_data.csv')
df

,seq,name/first,name/last,age,street,city,state,zip,dollar,pick,date
0,1,May,McDonald,33,Ehuma Park,Genumhuf,FL,20456,$480.09,YELLOW,09/21/2004
1,2,Lois,Jenkins,60,Gugku Loop,Hesgori,UT,43491,$2049.81,BLUE,08/11/1942
2,3,Charlotte,Roy,26,Dosfum Way,Goatpa,ME,73392,$6615.66,BLUE,07/23/1917
3,4,Belle,Norman,25,Nicsi Court,Otacudwa,WA,18142,$5745.75,RED,11/12/1965
4,5,Mae,Morrison,55,Fereh Grove,Uvuemwo,HI,49429,$3935.13,GREEN,01/14/2050
...,...,...,...,...,...,...,...,...,...,...,...
95,96,Richard,Rhodes,24,Zasdut Court,Kahsussaf,AL,21881,$8061.36,YELLOW,08/23/2057
96,97,Rhoda,Taylor,42,Likeg Road,Odakiti,AZ,89042,$3323.85,YELLOW,08/21/2048
97,98,Callie,Morton,48,Mobope Pike,Geccatpuz,NV,13860,$4256.67,GREEN,08/07/1955
98,99,Gabriel,Estrada,27,Mozwi Park,Uziwesih,SC,88892,$7653.46,BLUE,06/10/1914
99,100,Franklin,Dixon,42,Ruhdam Street,Tosnaehu,LA,88661,$2591.63,YELLOW,04/28/1952